$gil: Gilroy;
$nova: ProximaNova;
$sera: Seravek;


$headerTitle: #fce744;
$headerLight: #765374;

$partnerTitle:#555555;

$productTitle:#4b4c4c;
$productInfoTitle: #439ed4;
$productLine: #03dcb2;
$productBonus: #fd5868;
$productDirection: #362a3a;
$productDownload: #343434;
$productDownLink:#ee3e6f;

$timelineTitle: #4b4c4c;
$timelineTimer:#3dd193;
$timelineTimerDay:#f57b8b;
$timelineItemTitle: #fd7f70;

$blockchainTitle: #76a8da;
$blockchainInfo: #4b4c4c;


$teamPerson: #acb3c1;

$faqInfo: #4b4c4c;
$faqInfoPlus: #73a8df;
$faqInfoRub: #f53f63;
$faqFormLab: #7aafe6;

$footerContact: #727272;
$footerContactNum: #c6c6cd;
$footerLink: #fd5868;
$footerInput: #4b4b61;
$footerMenu: #817f90;